@font-face {
	font-family: "Marmelad";
	src: url("../fonts/Marmelad-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Neucha";
	src: url("../fonts/Neucha.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}